@model List<Movie>

<h1>ShoppingCart</h1>

@{
    for (int i = 0; i < Model.Count; i++)
    {
        <h4>@Model[i].ID</h4>
        <h4>@Model[i].Title</h4>
        <h4>@Model[i].Genre</h4>
        <h4>@Model[i].Actors</h4>
        <h4>@Model[i].Directors</h4>
    }
}